<section id="success">
    <div class="container">
        <h1>Thank You!</h1>
        <p>Your eBook should be emailed to you within 2 hours</p>
        <a href="/">Go Back Home</a>
    </div>
    
</section>